---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./formatted-date.astro";

export interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<section class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3">
  {
    posts.map((post) => (
      <a
        href={!post.data.planned ? `/blog/${post.slug}` : null}
        class="relative isolate flex h-64 flex-col rounded-lg border text-card-foreground shadow-sm hover:bg-muted"
      >
        <img
          src={post.data.cover?.src}
          alt={post.data.coverAlt}
          class="absolute inset-0 h-full w-full rounded-lg object-cover"
        />
        <div
          class="z-10 flex h-full flex-col justify-end space-y-2 rounded-lg bg-gradient-to-t from-background
                  via-background/80
                  to-background/20
                  p-4
                  hover:from-background/40
                  hover:via-background/40
                  hover:to-background/40"
        >
          <h3 class="text-xl font-semibold leading-none tracking-tight">
            {post.data.title}
          </h3>
          <div class="flex items-center space-x-1 text-xs font-semibold uppercase text-muted-foreground">
            <FormattedDate date={post.data.pubDate} />
            {post.data.tags.map((tag) => (
              <span>{` • ${tag}`}</span>
            ))}
          </div>
        </div>
      </a>
    ))
  }
</section>
