---
import { CollectionEntry, getCollection } from "astro:content";
import FormattedDate from "@/components/formatted-date.astro";
import BaseLayout from "@/layouts/base-layout.astro";
import TableOfContent from "@/components/toc.astro";
import { SeriesAccordion } from "@/components/series-accordion";
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import { ArrowLeft } from "lucide-react";

type Blog = CollectionEntry<"blog">["data"];

type Heading = {
  depth: number;
  slug: string;
  text: string;
};

export interface Props extends Blog {
  readingTime: string;
  headings: Heading[];
}

const {
  title,
  description,
  tags,
  pubDate,
  updatedDate,
  readingTime,
  headings,
  seriesId,
  index,
} = Astro.props;

const series = (await getCollection("series")).find(
  (s) => s.data.id === seriesId
);

const posts = (await getCollection("blog"))
  .filter((post) => series?.data.id === post.data.seriesId)
  .sort((a, b) => (a.data.index as number) - (b.data.index as number));
---

<BaseLayout
  title={title}
  description={description}
  postMeta={{ pubDate, tags }}
>
  <div
    class="prose max-w-none prose-headings:scroll-my-20 prose-a:no-underline prose-a:decoration-blue-600 prose-a:underline-offset-2 hover:prose-a:underline prose-code:rounded-sm prose-code:bg-muted prose-code:px-1 prose-code:py-0.5 prose-code:before:hidden prose-code:after:hidden prose-img:rounded-lg prose-img:border"
  >
    <div class="space-y-2">
      <h1>{title}</h1>
      <div
        class="space-y-2 text-xs font-semibold uppercase text-muted-foreground"
      >
        <div class="flex flex-wrap items-center space-x-1">
          <span>
            Published on <FormattedDate date={pubDate} />
          </span>
          {
            updatedDate && (
              <>
                <span>{"•"}</span>
                <span>
                  Updated on <FormattedDate date={updatedDate} />
                </span>
              </>
            )
          }
          <span>{"•"}</span>
          <span>{readingTime}</span>
        </div>
        <div class="not-prose flex items-center space-x-1">
          {
            tags.map((tag) => (
              <a
                href={`/tags/${tag.slice(1)}`}
                class="rounded-md border bg-card p-1 px-2 text-foreground  hover:bg-muted"
              >
                {tag}
              </a>
            ))
          }
        </div>
      </div>
      <p class="lead">
        {description}
      </p>
    </div>
    <div class="space-x-10 md:flex">
      <div class="w-full">
        <div class="not-prose my-10">
          {
            series && (
              <SeriesAccordion
                series={series}
                posts={posts}
                current={index}
                client:idle
              />
            )
          }
        </div>
        <article>
          <slot />
        </article>
      </div>
      {
        headings.length > 0 && (
          <nav class="sticky top-20 z-40 mt-9 hidden h-screen space-y-2 text-sm lg:block lg:w-4/12">
            <span class="font-black uppercase text-black dark:text-white">
              On This Page
            </span>
            <TableOfContent headings={headings} />
            <div class="border-b-[1px] border-neutral-700" />
          </nav>
        )
      }
    </div>
  </div>

  <script>
    const codeBlocks = Array.from(
      document.querySelectorAll("div[data-rehype-pretty-code-fragment]")
    );

    for (let codeBlock of codeBlocks) {
      const codeBlockPre = codeBlock.getElementsByTagName("pre")[0];

      // Copy button
      const copyButton = document.createElement("button");
      copyButton.className =
        "inline-flex items-center justify-center p-1 px-2 rounded-md text-foreground text-xs border hover:bg-muted";
      copyButton.innerHTML = "Copy";

      // Header title
      const titleSpan = document.createElement("span");
      titleSpan.className = "text-sm font-semibold text-white";

      // Header div
      const headerDiv = document.createElement("div");
      headerDiv.className =
        "flex w-full bg-background border rounded-t-md mt-10 items-center justify-between py-2 px-4";

      // Current title
      const titleDiv = codeBlock.querySelector(
        "div[data-rehype-pretty-code-title]"
      );

      // Set title to the language name if no current title is set
      if (titleDiv) {
        const title = titleDiv.innerHTML;
        titleSpan.innerHTML = title;
        codeBlock.removeChild(titleDiv);
      } else {
        titleSpan.innerHTML = codeBlockPre.getAttribute(
          "data-language"
        ) as string;
      }

      headerDiv.appendChild(titleSpan);
      headerDiv.appendChild(copyButton);
      codeBlock.prepend(headerDiv);

      copyButton.addEventListener("click", async () => {
        await copyCode(codeBlock, copyButton);
      });
    }

    async function copyCode(block: Element, button: HTMLButtonElement) {
      const code = block.querySelector("code") as HTMLElement;
      const text = code.innerText as string;
      await navigator.clipboard.writeText(text);
      button.innerText = "Copied!";

      setTimeout(() => {
        button.innerText = "Copy";
      }, 750);
    }
  </script>
</BaseLayout>
